body{
    color: rgb(13, 14, 13);
    background: rgb(124, 255, 211);
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#result_of_objects, #result_of_accuracy{
    color: rgb(73, 67, 128);
}